<!-- Head Libs -->
<!-- Web Fonts  -->
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
	rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/vendor/bootstrap/css/bootstrap.css" />
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/vendor/font-awesome/css/font-awesome.css" />
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/vendor/magnific-popup/magnific-popup.css" />
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

<!-- Specific Page Vendor CSS -->
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/vendor/morris/morris.css" />

<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="${pageContext.request.contextPath }/resources/assets/vendor/select2/select2.css" />
		<link rel="stylesheet" href="${pageContext.request.contextPath }/resources/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
		
<!-- Theme CSS -->
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/stylesheets/theme.css" />

<!-- Skin CSS -->
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/stylesheets/skins/default.css" />

<!-- Theme Custom CSS -->
<link rel="stylesheet"
	href="${pageContext.request.contextPath }/resources/assets/stylesheets/theme-custom.css">

<link rel="stylesheet" href="${pageContext.request.contextPath }/resources/assets/external/toast/jquery.toast.min.css">

<script
	src="${pageContext.request.contextPath }/resources/assets/vendor/modernizr/modernizr.js"></script>

<!-- Nepali Date Picker CSS -->
<link rel="stylesheet"
	  href="${pageContext.request.contextPath }/resources/assets/datepicker/nepali-date-picker.min.css"/>

	